antlr-src
practica/asl/Makefile
**/*.o
**/Makefile
#git update-index --assume-unchanged /path
#git update-index --no-assume-unchanged /path  (for Makefile)
#**/_ant
#**/_deps
/practica/asl/marc-back
teoria
